#container {
  position: relative;
}

.control-container {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 10px;
  z-index: 2;
}

.control {
  margin: 10px 0;
}

.control a {
  text-decoration: none;
  color: black;
}

.control a {
  display: block;
  text-align: center;
  padding: 2px 5px;
  background-color: #ddd;
  /* box-shadow: 0 1px 3px rgba(255, 0, 0, .9) */
}

.control a:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-top-left-radius: 3px;
  -moz-border-top-right-radius: 3px;
  border-bottom: 1px solid #888;
}

.control a:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
}


.control *:hover {
  background-color: #efefef;
  cursor: pointer;
}
